<div class="content">
    <h2>Smooth Scroll with Angular Directives and Polyfill</h2>
    <div scrollMain>
        <b>Go to Instructions:&nbsp;&nbsp;</b>
        <a href="javascript:void(0)" type="button" scrollAnchor="one">One</a>&nbsp;&nbsp;
        <a href="javascript:void(0)" type="button" scrollAnchor="two">Two</a>&nbsp;&nbsp;
        <a href="javascript:void(0)" type="button" scrollAnchor="three">Three</a>&nbsp;&nbsp;
        <a href="javascript:void(0)" type="button" scrollAnchor="four">Four</a>
        <div class="target-content">
            <h3 scrollTarget="one">Instruction One</h3>
            <p>
                Html "a" tag anchor can jump to target element.
            </p>
            <p>
                But there is no scroll animation.
            </p>
            <div class="light-text">
                <p>
                    Html "a" tag anchor can jump to target element.
                </p>
                <p>
                    But there is no scroll animation.
                </p>
                <p>
                    Html "a" tag anchor can jump to target element.
                </p>
                <p>
                    But there is no scroll animation.
                </p>
                <p>
                    Html "a" tag anchor can jump to target element.
                </p>
                <p>
                    But there is no scroll animation.
                </p>
                <p>
                    Html "a" tag anchor can jump to target element.
                </p>
                <p>
                    But there is no scroll animation.
                </p>
                <p>
                    Html "a" tag anchor can jump to target element.
                </p>
                <p>
                    But there is no scroll animation.
                </p>
                <p>
                    Html "a" tag anchor can jump to target element.
                </p>
                <p>
                    But there is no scroll animation.
                </p>
                <p>
                    Html "a" tag anchor can jump to target element.
                </p>
                <p>
                    But there is no scroll animation.
                </p>
                <p>
                    Html "a" tag anchor can jump to target element.
                </p>
                <p>
                    But there is no scroll animation.
                </p>
                <p>
                    Html "a" tag anchor can jump to target element.
                </p>
                <p>
                    But there is no scroll animation.
                </p>
                <p>
                    Html "a" tag anchor can jump to target element.
                </p>
                <p>
                    But there is no scroll animation.
                </p>
                <p>
                    Html "a" tag anchor can jump to target element.
                </p>
                <p>
                    But there is no scroll animation.
                </p>
                <p>
                    Html "a" tag anchor can jump to target element.
                </p>
            </div>
        </div>
        <div>
            <h3 scrollTarget="two">Instruction Two</h3>
            <p>
                Easy scroll with Angular directives independent of router settings.
            </p>
            <div class="light-text">
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
                <p>
                    Easy scroll with Angular directives independent of router settings.
                </p>
            </div>
        </div>

        <div>
            <h3 scrollTarget="three">Instruction Three</h3>
            <p>
                Directives in true Angular way without directly using DOM code.
            </p>
            <p>
                Calling native scrollIntoView() function with option settings.
            </p>
            <div class="light-text">
                <p>
                    Directives in true Angular way without directly using DOM code.
                </p>
                <p>
                    Calling native scrollIntoView() function with option settings.
                </p>
                <p>
                    Directives in true Angular way without directly using DOM code.
                </p>
                <p>
                    Calling native scrollIntoView() function with option settings.
                </p>
                <p>
                    Directives in true Angular way without directly using DOM code.
                </p>
                <p>
                    Calling native scrollIntoView() function with option settings.
                </p>
                <p>
                    Directives in true Angular way without directly using DOM code.
                </p>
                <p>
                    Calling native scrollIntoView() function with option settings.
                </p>
                <p>
                    Directives in true Angular way without directly using DOM code.
                </p>
                <p>
                    Calling native scrollIntoView() function with option settings.
                </p>
                <p>
                    Directives in true Angular way without directly using DOM code.
                </p>
                <p>
                    Calling native scrollIntoView() function with option settings.
                </p>
                <p>
                    Directives in true Angular way without directly using DOM code.
                </p>
                <p>
                    Calling native scrollIntoView() function with option settings.
                </p>
                <p>
                    Directives in true Angular way without directly using DOM code.
                </p>
                <p>
                    Calling native scrollIntoView() function with option settings.
                </p>
                <p>
                    Directives in true Angular way without directly using DOM code.
                </p>
                <p>
                    Calling native scrollIntoView() function with option settings.
                </p>
                <p>
                    Directives in true Angular way without directly using DOM code.
                </p>
                <p>
                    Calling native scrollIntoView() function with option settings.
                </p>
                <p>
                    Directives in true Angular way without directly using DOM code.
                </p>
                <p>
                    Calling native scrollIntoView() function with option settings.
                </p>
            </div>
        </div>
        <div>
            <h3 scrollTarget="four">Instruction Four</h3>
            <p>
                Some types of browsers do not support scroll animation with scrollIntoView().
            </p>
            <p>
                Cross-browser support for scroll animaiton with smoothscroll-polyfill.js.
            </p>
            <div class="light-text">
                <p>
                    Some types of browsers do not support scroll animation with scrollIntoView().
                </p>
                <p>
                    Cross-browser support for scroll animaiton with smoothscroll-polyfill.js.
                </p>
                <p>
                    Some types of browsers do not support scroll animation with scrollIntoView().
                </p>
                <p>
                    Cross-browser support for scroll animaiton with smoothscroll-polyfill.js.
                <p>
                    Some types of browsers do not support scroll animation with scrollIntoView().
                </p>
                <p>
                    Cross-browser support for scroll animaiton with smoothscroll-polyfill.js.
                </p>
                <p>
                    Some types of browsers do not support scroll animation with scrollIntoView().
                </p>
                <p>
                    Cross-browser support for scroll animaiton with smoothscroll-polyfill.js.
                </p>
                <p>
                    Some types of browsers do not support scroll animation with scrollIntoView().
                </p>
                <p>
                    Cross-browser support for scroll animaiton with smoothscroll-polyfill.js.
                </p>
                <p>
                    Some types of browsers do not support scroll animation with scrollIntoView().
                </p>
                <p>
                    Cross-browser support for scroll animaiton with smoothscroll-polyfill.js.
                </p>
            </div>
        </div>
    </div>
</div>
